*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

.row {
	display: flex;
}
.column {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

header {
	background-color: #824936;
	color: #f3eed9;
	align-items: center;
	justify-content: space-between;
	font-family: 'Playfair Display', serif;
	padding: min(0.7vw, 0.4rem) min(2.5vw, 1.5rem);
}

#logo {
	font-weight: 900;
	font-size: min(5vw, 2.6rem);
	color: #f3eed9;
	font-style: italic;
}

nav ul {
	list-style: none;
	align-items: center;
}

nav ul li {
	padding-right: 2.8em;
	font-size: min(2.3vw, 1rem);
}

button {
	background-color: #f3eed9;
	border: none;
	padding: 0.7em 1em;
	font-family: 'Playfair Display', serif;
	font-size: min(2.3vw, 1rem);
	font-weight: 900;
	color: #824936;
	border-radius: 10px;
}

main {
	text-align: center;
	padding: min(15vw, 8rem) 0;
	background-color: #f3eed9;
}

h1 {
	font-weight: 900;
	font-size: min(13vw, 4.5rem);
	color: #824936;
	padding-top: 0.3em;
	font-family: serif;
	padding-bottom: 7rem;
}

.container {
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
}

.caption {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: min(2.6vw, 1.1rem);
	letter-spacing: 0.5rem;
}

section {
	padding: min(7vw, 3rem) min(5vw, 5rem) min(7vw, 3rem) min(5vw, 5rem);
}

h2 {
	font-size: min(6.5vw, 2.3rem);
	color: #824936;
	font-weight: 900;
	font-family: serif;
	padding-bottom: 1.3em;
}
.split-para {
	justify-content: space-around;
	align-items: flex-start;
}

.box {
	width: 48%;
	text-align: justify;
	font-size: min(3.2vw, 1.3rem);
	padding: 1em 0.7em 1em 0.7em;
	margin-bottom: 0.5em;
}

#sec-one {
	background-color: #222c2a;
	color: #ffffff;
	text-align: center;
}

#sec-two {
	background-color: #f3eed9;
	width: auto;
	height: auto;
}

#sec-three {
	color: #ffffff;
	background-color: #824936;
}

#sec-three h2 {
	color: #ffffff;
}

@media screen and (max-width: 1020px) {
	.box {
		width: 90%;
	}
	.container {
		width: 90%;
	}
	.split-para {
		flex-wrap: wrap;
	}
	#sec-two h2,
	#sec-three h2 {
		text-align: center;
	}
}
